.container {
    width: 500px;
}

.ant-card {
    height: 350px;
}

.ant-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.tags {
    margin-bottom: 10px;
}

.tag {
    background-color: geekblue;
    cursor: pointer;
    font-size: 14px;
}

.tag:hover {
    background-color: rgb(7, 112, 240);
    color: #fff;
}

.ant-divider::before, .ant-divider::after {
    background-color: #fff;
}

.ant-flex,.ant-upload-wrapper, .ant-upload {
    width: 100% !important;
    height: 100% !important; 
}

.content {
       font-family: sans-serif;
       line-height: 23px;
       padding: 10px 5px;
       border-radius: 5px;
       background: #fff;
}